POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=notesdb
POSTGRES_USER=notesuser
POSTGRES_PASSWORD=supersecret
DATABASE_URL=postgresql://notesuser:supersecret@db:5432/notesdb
SECRET_KEY=supersecret
BACKEND_PORT=23001
FRONTEND_PORT=23002
CORS_ORIGINS=http://localhost:23002